<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499831506464-l3c351o9m2p666ud80c0gh4sa632c4sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499831506464-l3c351o9m2p666ud80c0gh4sa632c4sl</string>
	<key>API_KEY</key>
	<string>AIzaSyBWuFi-DgOT5MzK0kIE7O9bZSN6zeHDiWY</string>
	<key>GCM_SENDER_ID</key>
	<string>499831506464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.helloface</string>
	<key>PROJECT_ID</key>
	<string>helloface-c1884</string>
	<key>STORAGE_BUCKET</key>
	<string>helloface-c1884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499831506464:ios:03d2b4c8a0bdf1682d5e45</string>
</dict>
</plist>